<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <title>Fitness</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Welcome, {{first_name}}!</h2>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Workout</h5>
                <p class="card-text">Description</p>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}
    </body>
</html>