<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/ProjectRepository/ProjectSourceCode/resources/css/style.css">
</head>

<header>
    <h1>Shop Our Products</h1>
    <a href="/ProjectRepository/ProjectSourceCode/views/pages/cart.hbs" class="cart-link">View Cart</a>
</header>

<!-- display all the shopable items...-->

<body>

    {{> footer}}

</body>

</html>