<footer class="bg-dark text-light text-center py-3 fixed-bottom">
    <div class="container">
        <p class="mb-1">&copy; 2024 Gym Bros INC</p>
        <p class="small text-muted mb-0">Building a fit community since 1776.</p>
    </div>
</footer>
<!-- Bootstrap JavaScript and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-9ndCyUaT7p5vG5g9K4BfI5FYz2DN1B7KgItIvbI+z5FWr4ASpM9C1Z3+cXW9srAA" crossorigin="anonymous"></script>
</body>
</html>