<header>
  <nav class="navbar navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <!--Navbar toggle for smaller screens
      <button
        class="navbar-toggler ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      -->

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fitness">Workout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li> --}}
          {{#if user}} <!--Logged in-->
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          {{else}} <!--Not logged in-->
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
